*/target/maven-archiver/*
*/target/maven-status/*
*/target/*
*.war
*.war.original
*.ear
*.class
.DS_Store
.classpath
# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

